/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    
}

.section-title {
    color: #2e557c;
    background-color: rgba(255, 255, 255, 0.473);
    font-family: 'Star Wars', sans-serif;
    padding: 1rem 2rem;
}

.navbar {
    background-color: #2e557c;
    font-size: 20px;
}

.navbar-brand {
    font-family: 'Star Wars', sans-serif;
}

.dropdown-toggle {
    padding: 0.5rem 1rem;
}

.perspective {
    color: 	#ad7d37;
    transform: perspective(300px) rotateX(25deg);
    text-align: center;
    margin: 2rem 0rem 2rem 0rem;
    font-family: "ITC Serif Gothic";
    font-size: 30px;
  }

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
}

.card {
    margin: 2rem;
    width: 18rem;
    flex: "0 0 auto";
}

.card-body {
    background-color: black;
    color: white;
}

.delete-icon {
    float: right;
}

.fave {
    float: inline-end;
}

.character-link {
    color: white;
    text-decoration-line: none;
}

.character-name{
    color: white;
}